.idea/
node_modules/
data/
data2/
dist/
coverage/
graveyard/
npm-debug.log
public/bundle.js
karma_html/
mochawesome-reports/
test/.bak/
test/config/
test/integration/
**/*-compiled.js
**/*-compiled.js.map
build
.gradle
secret.properties
